
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@model IEnumerable<WebApplication18.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New User", "New");
</p>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>state</th>
            <th>Country</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>




