
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <div> <h4>Thank You</h4>
    </div>
</body>
</html>
